<h1>メッセージ一覧</h1>
<% @messages.each do |message| %>
    名前：<%= message.name %>
    内容：<%= message.body %>
    <br>
<% end %>


<%= form_for(Message.new) do |f| %>
    <div class="col-md-6">
        名前：
        <%= f.text_area :name, :maxlength => "10" %>
    </div>
    <div class="col-md-6">
        内容：
        <%= f.text_area :body, :maxlength => "20" %>
    </div>
    <%= f.submit %>
<% end %>